body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  color: #333;
}

p {
  color: #666;
}

#overview,
#data-management,
#real-world {
  background-color: #e5ffe5;
  padding: 20px;
}

#application-parts,
#wire-frames,
#integrative-experience {
  background-color: #f9f9f9;
  padding: 20px;
}

.nav-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-links li {
  display: inline;
  margin-right: 20px;
}

.nav-links li a {
  text-decoration: none;
  color: #333;
}

nav {
  background-color: #333;
  padding: 10px 0;
  border-bottom: 2px solid #79d205;
}

nav ul {
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 10px;
}

nav ul li a {
  color: #fff;
}

nav ul li a:hover {
  color: #79d205;
}

header {
  background-color: #79d205;
  color: #fff;
  padding: 20px;
  text-align: center;
}

main {
  padding: 20px;
}

section#team img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  overflow: hidden;
}

section#wire-frame img {
  width: 125px;
  height: auto;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
}
